<div class="card align-center" style="max-width: 25rem; margin: 1rem auto;">
    <div class="card-body">
        <h5 class="card-title fw-bold" style="margin-bottom: 1.25rem;">License Query</h5>
        <form action="/query" method="GET">
            <div class="mb-3">
                <label for="callsign" class="form-label">Callsign</label>

                <input type="text"
                       class="form-control"
                       id="callsign"
                       name="callsign"
                       aria-describedby="callsign_help"
                       placeholder="Callsign"/>

                <div id="callsign_help" class="form-text">
                    The Amateur Radio operator's callsign to lookup.
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Lookup</button>
            </div>
        </form>
        Or view the <a href="/statistics">statistics</a>.
    </div>
</div>